In [2]:
#Student: Sidart Rav
#Filename: books5.db

import sqlite3

# Step 1: Create the database and table
db = sqlite3.connect('books05.db')
curs = db.cursor()

curs.execute('''CREATE TABLE IF NOT EXISTS books (
    title TEXT,
    author TEXT,
    year INTEGER
)''')

db.commit()

# Step 2: Insert book data
book_data = [
    ("The Weirdstone of Brisingamen", "Alan Garner", 1960),
    ("Perdido Street Station", "China Miéville", 2000),
    ("Thud!", "Terry Pratchett", 2005),
    ("The Spellman Files", "Lisa Lutz", 2007),
    ("Small Gods", "Terry Pratchett", 1992)
]

curs.executemany("INSERT INTO books VALUES (?, ?, ?)", book_data)
db.commit()

# Step 3: Print books stored in the database
print("The 5 books stored database is:")
curs.execute("SELECT * FROM books")
for row in curs.fetchall():
    print(row)

# Step 4: Sort books by title
print("\nThe 5 books sorted database is:")
curs.execute("SELECT * FROM books ORDER BY title")
for row in curs.fetchall():
    print(row)

# Close the database connection
db.close()

The 5 books stored database is:
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

The 5 books sorted database is:
('Perdido Street Station', 'China Miéville', 2000)
('Small Gods', 'Terry Pratchett', 1992)
('The Spellman Files', 'Lisa Lutz', 2007)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Thud!', 'Terry Pratchett', 2005)